.home-item-hero {
  &__container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

  &__slider {
    position: relative;
  }
  &__img {
    background: var(--0C0C0C, #0C0C0C);
  }
  &__wrapper{
    text-align: center;
  }
  &__links{
    margin-top: 24px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  &__link {
    text-align: center;
  }
  &__content{
    position: absolute;
    z-index: 1000;
    top: 234px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__slider{
    cursor: pointer;
  }
}
.link-home{
  position: relative;
  &:hover{
    color: var(--title-color);
    transition: color .2s linear;
  }
  &::after {
    content: url('../../images/sprite.svg#icon-links-path');
    position: absolute;
    top: 6px;
    right: -32px;
    width: 30px;
    height: 30px;
  }
}

