.chef {
    position: relative;
    margin-bottom: 77px;
    &__container {
      padding-bottom: 160px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      cursor: pointer;
    }

    &__content {
      padding-top: 127px;
      width: 100%;
      padding-right: 0;
      padding-left: 80px;
    }

    &__subheading {
      margin-bottom: 25px;
    }

    &__title {
      margin-bottom: 64px;
      text-align: left;
    }

    &__description {
      position: relative;
      margin-bottom: 64px;
    }

    &__description::before {
      content: url("../../images/sprite.svg#icon-double-quotes");
      position: relative;
      display: inline-block;
      width: 47px;
      height: 40px;
      top: 0;
      left: 0;
    }

    &__sign {
      max-width: 235px;
      max-height: 83px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__img {
      width: 100%;
    }
}

.chef__picture {
    padding: 25px;
    position: relative;
    max-width: 653px;

    .block__gold-top,
    .block__gold-bottom {
        width: 435px;
        height: 435px;
        position: absolute;
        flex-shrink: 1;
        background-color: var(--title-color);
        top: 0;
        right: 0;
        z-index: -1;
    }

    .block__gold-bottom {
        top: auto;
        right: auto;
        left: 0;
        bottom: 0;
    }
}
