.reservations {
  &__container {
    padding: 157px 158px 152px;
    border: 1px solid var(--border-form-color);
    box-shadow: var(--border-form-box-shadow);
  }

  &__inner {
    padding: 48px 32px;

  }

  &__subheading {
    text-align: center;
    margin-bottom: 25px;
  }

  &__title {
    margin-bottom: 64px;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 64px 32px;
  }

  &__input {
    padding: 16px;
    border: 1px solid var(--text-color-pagination);
    background: transparent;
    font-family: var(--font-accent);
    color: var(--accent);
    position: relative;
    cursor: pointer;
  }

  &__input,
  #date,
  #time {
    background-image: url('../../images/sprite.svg#icon-form');
    background-repeat: no-repeat;
    background-position: right 16px top 16px;
    background-size: 24px 24px;
  }

  &__btn {
    grid-column-start: 2;
    justify-self: center;
  }
}

// Custom Select
.custom-select-wrapper {
  position: relative;
  user-select: none;
}

.custom-select {
  padding: 0;
  position: relative;
}

.select-trigger {
  padding: 16px;
  background: transparent;
  color: var(--accent);
  cursor: pointer;
  font-family: var(--font-accent);
}

.custom-options {
  width: 100%;
  position: absolute;
  padding: 16px;
  background-color: var(--page-bg);
  border: 1px solid var(--text-color-pagination);
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 999;
}

.custom-option {
  display: block;
  padding: 16px 16px 16px 0;
  cursor: pointer;
}

.custom-option:hover {
  background-color: var(--page-bg);
  color: lighten(rgba(220, 202, 135, 1), 30%);
}

.open {
  display: block;
}

.air-datepicker {
  background-color: rgba(12, 12, 12, 1) !important;
  border: 1px solid var(--text-color-pagination) !important;
}

.air-datepicker-cell.-selected-.-current- {
  background-color: rgba(220, 202, 135, 1) !important;
}
