.testimony {
  &__ava {
    align-self: flex-start;
    position: relative;

    &::after{
      content: url('../../images/sprite.svg#icon-double-quotes');
      position: absolute;
      display: inline-block;
      width: 47px;
      height: 40px;
      right: 0;
      bottom: -20px;
    }
  }

  &__list {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 64px 32px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: 189px;
    margin-right: 14px;
    align-self: top;
  }

  &__content {
    padding: 18px;
  }

  &__description {
    margin-bottom: 16px;
  }

  &__name {
    margin-bottom: 4px;
  }
}
