.subscribe {
  &__container {
    padding-top: 109px;
    padding-bottom: 128px;
    border: 1px solid var(--title-color);
    display: flex;
    justify-content: space-around;
  }

  &__wrapper {
    padding: 64px 252px;
    border: 1px solid var(--border-form-color);
    box-shadow: 22px 30px 95px 1px var(--border-form-box-shadow);
  }

  &__title {
    margin-bottom: 24px;
    padding-left: 20px;
    padding-right: 20px;
    text-wrap: nowrap;
  }

  &__description {
    text-align: center;
    margin-bottom: 64px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }

  &__input {
    padding: 16px 19px;
    flex-grow: 3;
    background: transparent;
    border: 1px solid var(--border-form-color);
    color: var(--accent);
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}
