.team{
  &__container{
    margin: 152px 0;
  }
  &__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
  }
  &__card{
    position: relative;
    cursor: pointer;
  }
  &__social {
    &.none {
      visibility: hidden; // Изначально элемент скрыт
      opacity: 0; // Для анимации плавного появления
      transition: visibility 0s, opacity 0.3s; // Настройка анимации

      &:hover {
        visibility: visible; // Показываем элемент
        opacity: 1; // Делаем элемент полностью видимым
      }
    }
  }
}
