<section class="history">
  <div class="container history__container">
    <h5 class="subheading-center spoon history__subheading">
      Our History
    </h5>
    <h2 class="title history__title">serving customers for over a decade</h2>
    <div class="history__wrapper">
      <div class="history__info">
        <p class="text-description history__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.
        </p>
        <img src="../../images/about-trattoria.jpg" alt="trattoria front side" class="history__picture">
      </div>
      <div class="history__block">
        <img src="../../images/about-history.jpg" alt="trattoria inside">
        <h3 class="history__text">Over the years</h3>
        <ul class="history__list">
          <li class="history__item section-delimiter">
            <div class="history__counter spoon-left">30+</div>
            <div class="history__option">Breakfast Options</div>
          </li>
          <li class="history__item section-delimiter">
            <div class="history__counter spoon-left">50+</div>
            <div class="history__option">Dinner Options</div>
          </li>
          <li class="history__item">
            <div class="history__counter spoon-left">8</div>
            <div class="history__option">New Locations</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
