<section class="bar-hero section__background-bar">
    <div class="container bar-hero__cont">
        <div class="swiper swiper__bar-hero">
            <div class="swiper-wrapper">
                <div class="swiper-slide bar-hero__container">
                  <div class="bar-hero__content">
                      <h1 class="title-main bar-hero__title">
                        On the Rocks
                      </h1>
                  </div>
                  <div class="bar-hero__picture">
                      <img src="../../images/bar-hero-1.jpg" alt="dish 1" class="bar-hero__img">
                  </div>
                </div>

                <div class="swiper-slide bar-hero__container">
                  <div class="bar-hero__content">
                      <h1 class="title-main bar-hero__title">
                        On the Rocks
                      </h1>
                  </div>
                  <div class="bar-hero__picture">
                      <img src="../../images/bar-hero-2.jpg" alt="dish 1" class="bar-hero__img">
                  </div>
                </div>

                <div class="swiper-slide bar-hero__container">
                  <div class="bar-hero__content">
                      <h1 class="title-main bar-hero__title">
                        On the Rocks
                      </h1>
                  </div>
                  <div class="bar-hero__picture">
                      <img src="../../images/bar-hero-1.jpg" alt="dish 1" class="bar-hero__img">
                  </div>
                </div>

                <div class="swiper-slide bar-hero__container">
                  <div class="bar-hero__content">
                      <h1 class="title-main bar-hero__title">
                        On the Rocks
                      </h1>
                  </div>
                  <div class="bar-hero__picture">
                      <img src="../../images/bar-hero-2.jpg" alt="dish 1" class="bar-hero__img">
                  </div>
                </div>

            </div>
            <div class="swiper-pagination bar-hero__pagination"></div>
        </div>

        <div class="hero__links bar-hero__links">
            <a href="./home-bar.html" class="hero__link">#Bar</a>
            <a href="./index.html" class="hero__link">#Gericht</a>
        </div>
    </div>
</section>
