<section class="bar-about section__background-bar spoon-crossing-top-left">
  <div class="container bar-about__container">
    <div class="bar-about__wrapper">
      <div class="bar-about__picture">
        <img src="../../images/bar-beer.jpg" alt="bar">
      </div>
      <div class="bar-about__content">
        <img src="../../images/bar-drinks-1.jpg" alt="alcohol drink" class="bar-about__content-img">
        <h5 class="subheading spoon-left bar-about__subheading">About Us</h5>
        <h2 class="title bar-about__title">
          Food, Drinks, entertainment in one
        </h2>
        <p class="text-description bar-about__description">
          Adipiscing tempus ullamcorper lobortis odio tellus arcu volutpat. Risus placerat morbi volutpat habitasse interdum mi aliquam In sed odio nec aliquet.</p>
        <a href="#!" role="button" aria-label="view more" class="btn bar-about__btn">Know More</a>
      </div>
    </div>
  </div>
</section>
