<section class="bar-contact section__background spoon-crossing-bottom-right ">
    <div class="container spoon-crossing-top-left bar-contact__container">
        <div class="bar-contact__content">
            <h5 class="subheading spoon-left bar-contact__subheading">Contact</h5>
            <h2 class="title bar-contact__title">
              Find Us
            </h2>
            <p class="text-description bar-contact__description">
              Lane Ends Bungalow, Whatcroft Hall Lane, Rudheath, CW9 7SG</p>
            <p class="name bar-contact__schedule">Opening Hours</p>
            <div class="text-description bar-contact__time">Mon - Fri: <time datetime="10:00">10:00</time> am - <time datetime="02:00">02:00</time> am</div>
            <div class="text-description bar-contact__time">Sat - Sun: <time datetime="10:00">10:00</time> am - <time datetime="03:00">03:00</time> am</div>
            <a href="#!" role="button" aria-label="Know More" class="btn bar-contact__btn">Know More</a>
        </div>
        <div class="bar-contact__picture">
            <div class="block__gold-top"></div>
            <img src="../../images/bar-drinks-4.jpg" loading="lazy" alt="Patrick Choi" class="bar-contact__img">
            <div class="block__gold-bottom"></div>
        </div>
    </div>
</section>
