<section class="bar-range">
  <div class="container bar-range__container">
    <h5 class="subheading-center spoon bar-range__subheading">
      Wide Range to choose from
    </h5>
    <h2 class="title bar-range__title">What&apos;s Your Poison?</h2>
    <div class="bar-range__wrapper">

      <div class="bar-range__card">
          <a href="#!" class="bar-range__link">
            <img src="../../images/bar-drinks-3.jpg" alt="beer" class="bar-range__img" loading="lazy">
          </a>
      </div>

      <div class="bar-range__card">
        <a href="#!" class="bar-range__link">
          <img src="../../images/bar-drinks-2.jpg" alt="beer" class="bar-range__img" loading="lazy">
        </a>
      </div>

      <div class="bar-range__card">
        <a href="#!" class="bar-range__link">
          <img src="../../images/restaurant-insta-dish-5.jpg" alt="cocktail" class="bar-range__img" loading="lazy">
        </a>
      </div>

    </div>
  </div>
</section>
