<section class="contact-form section__background spoon-crossing-bottom-left">
  <div class="container contact-form__container">
    <div class="contact-form__content">
      <form action="#!" method="post" class="contact-form__list" autocomplete="off">

        <label for="user_name" class="sr-only">Full Name</label>
        <input type="text" name="user_name" id="name" minlength="3" maxlength="25" required placeholder="Full Name" class="contact-form__item">

        <label for="user_email"  class="sr-only">Email Address</label>
        <input type="email" name="user_email" id="mail" required minlength="12" maxlength="35" placeholder="Email Address" class="contact-form__item">

        <label for="message" class="sr-only">Message</label>
        <textarea name="message" id="message" class="contact-form__text" placeholder="Message" minlength="10" maxlength="325"></textarea>

        <button class="btn contact-form" type="submit">Subscribe</button>
      </form>
    </div>
    <div class="contact-form__picture">
      <img src="../../images/restaurant-awards-dish.jpg" alt="beef with tomatoes" class="contact-form__img" loading="lazy">
    </div>
  </div>
</section>
