<section class="happy-hours spoon-crossing-bottom-right">
  <div class="container happy-hours__container">
    <div class="happy-hours__content">
      <h2 class="title-main happy-hours__title">Happy Hours</h2>
      <p class="title-small happy-hours__time">
        Monday - Friday (
        <time datetime="4:00">4:00</time>
        Pm -
        <time datetime="7:00">7:00</time>
        Pm)
      </p>
    </div>
    <div class="swiper happy-hours__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide happy-hours__slider">
          <h2 class="happy-hours__title"></h2>
          <img src="../../images/bar-happy-hours-1.jpg" loading="lazy" alt="bar happy-hours" class="happy-hours__img">
        </div>

        <div class="swiper-slide happy-hours__slider">
          <h2 class="happy-hours__title"></h2>
          <img src="../../images/bar-happy-hours-2.jpg" loading="lazy" alt="bar happy-hours" class="happy-hours__img">
        </div>

        <div class="swiper-slide happy-hours__slider">
          <h2 class="happy-hours__title"></h2>
          <img src="../../images/bar-happy-hours-3.jpg" loading="lazy" alt="bar happy-hours" class="happy-hours__img">
        </div>

        <div class="swiper-slide happy-hours__slider">
          <h2 class="happy-hours__title"></h2>
          <img src="../../images/bar-happy-hours-4.jpg" loading="lazy" alt="bar happy-hours" class="happy-hours__img">
        </div>
      </div>
    </div>
  </div>
</section>
