<header class="header">
    <div class="container header__container">
        <a href="" class="header__logo">Gericht</a>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                    <a href="#!" class="header__link">
                        Home
                    </a>
                </li>
                <li class="header__item">
                    <a href="#!" class="header__link">
                        Pages
                    </a>
                </li>
                <li class="header__item">
                    <a href="#!" class="header__link">
                        Contact Us
                    </a>
                </li>
                <li class="header__item">
                    <a href="#!" class="header__link">
                        Blog
                    </a>
                </li>
                <li class="header__item">
                    <a href="#!" class="header__link">
                        Landing
                    </a>
                </li>
            </ul>
        </nav>
        <div class="header__btn-set">
            <button class="header__btn-login">Log in / registration</button>
            <span class="vertical-line"></span>
            <button class="header__btn-book">book table</button>
        </div>
    </div>
</header>