<section class="home-item-hero">
  <div class="container home-item-hero__container">
    <div class="home-item-hero__content">
      <h2 class="title-main home-item-hero__title">What We offer</h2>
      <div class="home-item-hero__wrapper">
        <p class="title-small home-item-hero__links">
          <a href="./index.html" class="home-item-hero__link link-home">Home</a>
          <a href="#!" class="home-item-hero__link">Our Services</a>
        </p>
      </div>
    </div>
    <div class="swiper home-item-hero__swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide home-item-hero__slider">
          <h2 class="home-item-hero__title"></h2>
          <img src="../../images/home-hero-item-1.jpg" loading="lazy" alt="bar home-item-hero" class="home-item-hero__img">
        </div>

        <div class="swiper-slide home-item-hero__slider">
          <h2 class="home-item-hero__title"></h2>
          <img src="../../images/home-hero-item-2.jpg" loading="lazy" alt="bar home-item-hero" class="happy-hours__img">
        </div>

      </div>
    </div>
  </div>
</section>
