<section class="instagram section__background spoon-crossing-bottom-left">
  <div class="container instagram__container">

    <div class="instagram__content">
      <h5 class="subheading spoon-left instagram__subheading">Instagram</h5>
      <h2 class="title instagram__title">
        Photo Gallery
      </h2>
      <p class="text-description instagram__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mu.
      </p>
      <a href="#!" role="button" aria-label="view more" class="btn instagram__btn">View More</a>
    </div>

    <div class="instagram__slider">
      <div class="swiper instagram-swiper">
        <div class="swiper-wrapper instagram__wrapper">
          <div class="swiper-slide instagram__slide">
            <a href="#!" class="instagram__link">
              <img src="../../images/restaurant-insta-dish-1.jpg" alt="dish #1" class="instagram__img" loading="lazy">
            </a>
          </div>
          <div class="swiper-slide instagram__slide">
            <a href="#!" class="instagram__link">
              <img src="../../images/restaurant-insta-dish-2.jpg" alt="dish #2" class="instagram__img" loading="lazy">
            </a>
          </div>
          <div class="swiper-slide instagram__slide">
            <a href="#!" class="instagram__link">
              <img src="../../images/restaurant-insta-dish-3.jpg" alt="dish #3" class="instagram__img" loading="lazy">
            </a>
          </div>
          <div class="swiper-slide instagram__slide">
            <a href="#!" class="instagram__link">
              <img src="../../images/restaurant-insta-dish-4.jpg" alt="dish #4" class="instagram__img" loading="lazy">
            </a>
          </div>
          <div class="swiper-slide instagram__slide">
            <a href="#!" class="instagram__link">
              <img src="../../images/restaurant-insta-dish-5.jpg" alt="dish #5" class="instagram__img" loading="lazy">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
