<section class="menu">
  <div class="container menu__container">
    <div class="swiper menu__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide menu__slider">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="" class="title menu__link text_underline">Bar Menu</a>
            </li>
            <li class="menu__item">
              <a href="" class="title menu__link">Food Menu</a>
            </li>
            <li class="menu__item">
              <a href="" class="title menu__link">Desserts Menu</a>
            </li>
          </ul>
          <img src="./images/restaurant-background-glass.jpg" alt="bar menu" class="menu__img" loading="lazy">
        </div>

        <div class="swiper-slide menu__slider">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="" class="title menu__link">Bar Menu</a>
            </li>
            <li class="menu__item">
              <a href="" class="title menu__link text_underline">Food Menu</a>
            </li>
            <li class="menu__item">
              <a href="" class="title menu__link">Desserts Menu</a>
            </li>
          </ul>
          <img src="./images/restaurant-background-food.jpg" alt="food menu" class="menu__img" loading="lazy">
        </div>

        <div class="swiper-slide menu__slider">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="" class="title menu__link">Bar Menu</a>
            </li>
            <li class="menu__item">
              <a href="" class="title menu__link">Food Menu</a>
            </li>
            <li class="menu__item">
              <a href="" class="title menu__link text_underline">Desserts Menu</a>
            </li>
          </ul>
          <img src="./images/restaurant-background-dessert.jpg" alt="desserts menu" class="menu__img" loading="lazy">
        </div>

      </div>
    </div>
  </div>
</section>
