<section class="menu-special">
  <div class="container menu-special__container">
    <div class="menu-special__inner">
      <h5 class="subheading-center spoon menu-special__subheading">
        Menu that fits you palette
      </h5>
      <h2 class="title menu-special__title">Today&apos;s Special</h2>
      <div class="menu-special__content">
        <div class="menu-special__block">
          <h3 class="menu-special__title-drink">Wine &amp; Beer</h3>

          <ul class="menu-special__list">
            <li class="menu-special__item">
              <div class="menu-special__inner-top">
                <span class="menu-special__name">Chapel Hill Shiraz</span>
                <span class="menu-special__line"></span>
                <span class="menu-special__price">$56</span>
              </div>
              <div class="menu-special__bottle">
                AU | Bottle
              </div>
            </li>

            <li class="menu-special__item">
              <div class="menu-special__inner-top">
                <span class="menu-special__name">Catena Malbec</span>
                <span class="menu-special__line"></span>
                <span class="menu-special__price">$59</span>
              </div>
              <div class="menu-special__bottle">
                AR | Bottle
              </div>
            </li>

            <li class="menu-special__item">
              <div class="menu-special__inner-top">
                <span class="menu-special__name">La Vieille Rosé</span>
                <span class="menu-special__line"></span>
                <span class="menu-special__price">$44</span>
              </div>
              <div class="menu-special__bottle">
                FR | 750 ml
              </div>
            </li>

            <li class="menu-special__item">
              <div class="menu-special__inner-top">
                <span class="menu-special__name">Rhino Pale Ale</span>
                <span class="menu-special__line"></span>
                <span class="menu-special__price">$31</span>
              </div>
              <div class="menu-special__bottle">
                CA | 750 ml
              </div>
            </li>

            <li class="menu-special__item">
              <div class="menu-special__inner-top">
                <span class="menu-special__name">Irish Guinness</span>
                <span class="menu-special__line"></span>
                <span class="menu-special__price">$26</span>
              </div>
              <div class="menu-special__bottle">
                IE | 750 ml
              </div>
            </li>

          </ul>
        </div>

        <div class="menu-special__picture">
          <img src="./images/restaurant-shaker.jpg" alt="drink" class="menu-special__img">
        </div>

        <div class="menu-special__block">
          <h3 class="menu-special__title-drink">Cocktails</h3>

          <ul class="menu-special__list">
            <li class="menu-special__item">
              <div class="menu-special__inner-top">
                <span class="menu-special__name">Aperol Spritz</span>
                <span class="menu-special__line"></span>
                <span class="menu-special__price">$20</span>
              </div>
              <p class="menu-special__ingredients">
                Aperol | Villa Marchesi prosecco | soda | 30ml
              </p>
            </li>

            <li class="menu-special__item">
              <div class="menu-special__inner-top">
                <span class="menu-special__name">Dark 'N' Stormy</span>
                <span class="menu-special__line"></span>
                <span class="menu-special__price">$16</span>
              </div>
              <p class="menu-special__ingredients">
                Dark rum | Ginger beer | Slice of lime
              </p>
            </li>

            <li class="menu-special__item">
              <div class="menu-special__inner-top">
                <span class="menu-special__name">Daiquiri</span>
                <span class="menu-special__line"></span>
                <span class="menu-special__price">$10</span>
              </div>
              <p class="menu-special__ingredients">
                Rum | Citrus juice | Sugar
              </p>
            </li>

            <li class="menu-special__item">
              <div class="menu-special__inner-top">
                <span class="menu-special__name">Old Fashioned</span>
                <span class="menu-special__line"></span>
                <span class="menu-special__price">$31</span>
              </div>
              <p class="menu-special__ingredients">
                Bourbon | Brown sugar | Angostura Bitters
              </p>
            </li>

            <li class="menu-special__item">
              <div class="menu-special__inner-top">
                <span class="menu-special__name">Negroni</span>
                <span class="menu-special__line"></span>
                <span class="menu-special__price">$26</span>
              </div>
              <p class="menu-special__ingredients">
                Gin | Sweet Vermouth | Campari | Orange garnish
              </p>
            </li>

          </ul>
        </div>
        <div class="menu-special__btn">
          <a href="#!" class="btn menu-special__link">View More</a>
        </div>
      </div>
    </div>
  </div>
</section>
