<section class="reservations">
  <div class="container reservations__container spoon-crossing-top">
    <div class="reservations__inner">
      <h5 class="subheading spoon reservations__subheading">
        Reservations
      </h5>
      <h2 class="title reservations__title">Book A Table</h2>
      <form action="#" id="book__table" method="post" class="reservations__form">
        <div class="reservations__input custom-select">
            <div class="select-trigger">1 Person</div>
            <div class="custom-options">
                <span class="custom-option" data-value="1">1 Person</span>
                <span class="custom-option" data-value="2">2 Persons</span>
                <span class="custom-option" data-value="3">4 Persons</span>
            </div>
        </div>
        <input type="text" name="book__date" id="date" class="reservations__input reservations__date" required autocomplete="off">
        <input type="text" name="book__time" id="time" class="reservations__input reservations__time" required autocomplete="off">
        <button type="submit" class="btn reservations__btn">Book Now</button>
      </form>
    </div>
  </div>
</section>
