<section class="blog" id="landing__blog">
  <div class="container blog__container spoon-crossing-bottom-right">
    <h5 class="subheading-center spoon blog__subheading">
      Blogs
    </h5>
    <h2 class="title blog__title">Gerícht updates</h2>
    <div class="blog__wrapper">

      <article class="blog__card">
        <figure class="blog__picture">
          <img src="../../images/restaurant-blogs-dish-1.jpg" alt="dish #1" class="blog__img" loading="lazy">
        </figure>
        <div class="blog__inner">
          <time datetime="2024-03-16" class="blog__date">16 Apr 2024</time>
          <p class="blog__author">- Annalisa L</p>
        </div>
        <h4 class="name blog__article-title">tips for prepping and caring for your grill</h4>
        <p class="text-description blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mus in.
        </p>
        <a href="#!" class="blog__link">Read More</a>
      </article>

      <article class="blog__card">
        <figure class="blog__picture">
          <img src="../../images/restaurant-blogs-dish-2.jpg" alt="dish #2" class="blog__img" loading="lazy">
        </figure>
        <div class="blog__inner">
          <time datetime="2024-05-23" class="blog__date">23 May 2024</time>
          <p class="blog__author">- John Micheal</p>
        </div>
        <h4 class="name blog__article-title">summer cocktails and cocktails</h4>
        <p class="text-description blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mus in.
        </p>
        <a href="#!"  class="blog__link">Read More</a>
      </article>

      <article class="blog__card">
        <figure class="blog__picture">
          <img src="../../images/restaurant-blogs-dish-3.jpg" alt="dish #3" class="blog__img" loading="lazy">
        </figure>
        <div class="blog__inner">
          <time datetime="2024-08-06" class="blog__date">06 Aug 2024</time>
          <p class="blog__author">- Fred W</p>
        </div>
        <h4 class="name blog__article-title">easy cooking for college students</h4>
        <p class="text-description blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mus in.
        </p>
        <a href="#!" class="blog__link">Read More</a>
      </article>

      <article class="blog__card more-content">
        <figure class="blog__picture">
          <img src="../../images/restaurant-blogs-dish-1.jpg" alt="dish #1" class="blog__img" loading="lazy">
        </figure>
        <div class="blog__inner">
          <time datetime="2024-03-16" class="blog__date">16 Apr 2024</time>
          <p class="blog__author">- Annalisa L</p>
        </div>
        <h4 class="name blog__article-title">tips for prepping and caring for your grill</h4>
        <p class="text-description blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mus in.
        </p>
        <a href="#!" class="blog__link">Read More</a>
      </article>

      <article class="blog__card more-content">
        <figure class="blog__picture">
          <img src="../../images/restaurant-blogs-dish-2.jpg" alt="dish #2" class="blog__img" loading="lazy">
        </figure>
        <div class="blog__inner">
          <time datetime="2024-05-23" class="blog__date">23 May 2024</time>
          <p class="blog__author">- John Micheal</p>
        </div>
        <h4 class="name blog__article-title">summer cocktails and cocktails</h4>
        <p class="text-description blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mus in.
        </p>
        <a href="#!"  class="blog__link">Read More</a>
      </article>

      <article class="blog__card more-content">
        <figure class="blog__picture">
          <img src="../../images/restaurant-blogs-dish-3.jpg" alt="dish #3" class="blog__img" loading="lazy">
        </figure>
        <div class="blog__inner">
          <time datetime="2024-08-06" class="blog__date">06 Aug 2024</time>
          <p class="blog__author">- Fred W</p>
        </div>
        <h4 class="name blog__article-title">easy cooking for college students</h4>
        <p class="text-description blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mus in.
        </p>
        <a href="#!" class="blog__link">Read More</a>
      </article>

    </div>
    <div class="menu-special__btn">
      <button id="show-more-btn" class="btn menu-special__link">View More</button>
    </div>
  </div>
</section>
