<section class="preview spoon-crossing-top-left">
  <div class="container preview__container">
      <div class="video-player">
        <video id="video" src="../../video/test.mp4" poster="../../images/section-background-play.jpg"></video>

        <!-- Центральная кнопка Play/Pause -->
        <div id="playPauseCenter" class="play-pause-center"></div>

        <!-- Кастомные элементы управления -->
        <div class="controls">
            <input type="range" id="progressBar" value="0" max="100">
            <span id="currentTime">00:00</span> / <span id="duration">00:00</span>
            <input type="range" id="volumeControl" min="0" max="1" step="0.1" value="0.5">
            <button id="fullscreen" class="control-button">Fullscreen</button>
        </div>
    </div>
  </div>
</section>
