<section class="hero">
    <div class="container">
        <div class="swiper swiper__restaurant-hero">
            <div class="swiper-wrapper">
                <div class="swiper-slide hero__container">
                    <div class="block__content hero__content">
                        <h5 class="subheading spoon hero__subheading">Chase the new Flavour</h5>
                        <h1 class="title-main hero__title">
                            The key to 
                            Fine dining
                        </h1>
                        <p class="text-description hero__description">
                            Sit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus 
                        </p>
                        <a href="#!" role="button" aria-label="explore menu" class="btn hero__btn">Explore Menu</a>
                    </div>
                    <div class="block__picture hero__picture">
                        <div class="block__gold-top"></div>
                        <img src="../../images/restaurant-hero-dish-1.jpg" alt="dish 1" class="hero__img block__img">
                        <div class="block__gold-bottom"></div>
                    </div>
                </div>
                <div class="swiper-slide hero__container">
                    <div class="block__content hero__content">
                        <h5 class="subheading spoon hero__subheading">Chase the new Flavour</h5>
                        <h1 class="title-main hero__title">
                            The key to 
                            Fine dining
                        </h1>
                        <p class="text-description hero__description">
                            Sit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus 
                        </p>
                        <a href="#!" role="button" aria-label="explore menu" class="btn hero__btn">Explore Menu</a>
                    </div>
                    <div class="block__picture hero__picture">
                        <div class="block__gold-top"></div>
                        <img src="../../images/restaurant-hero-dish-2.jpg" alt="dish 1" class="hero__img block__img">
                        <div class="block__gold-bottom"></div>
                    </div>
                </div>
                <div class="swiper-slide hero__container">
                    <div class="block__content hero__content">
                        <h5 class="subheading spoon hero__subheading">Chase the new Flavour</h5>
                        <h1 class="title-main hero__title">
                            The key to 
                            Fine dining
                        </h1>
                        <p class="text-description hero__description">
                            Sit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus 
                        </p>
                        <a href="#!" role="button" aria-label="explore menu" class="btn hero__btn">Explore Menu</a>
                    </div>
                    <div class="block__picture hero__picture">
                        <div class="block__gold-top"></div>
                        <img src="../../images/restaurant-hero-dish-3.jpg" alt="dish 1" class="hero__img block__img">
                        <div class="block__gold-bottom"></div>
                    </div>
                </div>
                <div class="swiper-slide hero__container">
                    <div class="block__content hero__content">
                        <h5 class="subheading spoon hero__subheading">Chase the new Flavour</h5>
                        <h1 class="title-main hero__title">
                            The key to 
                            Fine dining
                        </h1>
                        <p class="text-description hero__description">
                            Sit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus 
                        </p>
                        <a href="#!" role="button" aria-label="explore menu" class="btn hero__btn">Explore Menu</a>
                    </div>
                    <div class="block__picture hero__picture">
                        <div class="block__gold-top"></div>
                        <img src="../../images/restaurant-hero-dish-2.jpg" alt="dish 1" class="hero__img block__img">
                        <div class="block__gold-bottom"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="hero__links">
            <a href="./../home-bar.html" class="hero__link">#Bar</a>
            <a href="#!" class="hero__link">#Gericht</a>
        </div>
    </div>
</section>