<section class="testimony">
  <div class="container testimony__container">
    <div class="testimony__inner">
      <h5 class="subheading-center spoon testimony__subheading">
        Testimony
      </h5>
      <h2 class="title testimony__title">Happy customers</h2>
      <div class="testimony__content">
        <ul class="testimony__list">
          <li class="testimony__item">
            <div class="testimony__ava">
              <img src="../../images/customers-1.jpg" alt="Sommelier" class="testimony__img">
            </div>
            <div class="testimony__content">
              <p class="text-description testimony__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.
              </p>
              <p class="name testimony__name">Wade Warren</p>
              <p class="role testimony__role">Sommelier</p>
            </div>
          </li>
          <li class="testimony__item">
            <div class="testimony__ava">
              <img src="../../images/customers-2.jpg" alt="Jane Cooper" class="testimony__img">
            </div>
            <div class="testimony__content">
              <p class="text-description testimony__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.
              </p>
              <p class="name testimony__name">Jane Cooper</p>
              <p class="role testimony__role">Chef</p>
            </div>
          </li>
          <li class="testimony__item">
            <div class="testimony__ava">
              <img src="../../images/customers-3.jpg" alt="Robert Fox" class="testimony__img">
            </div>
            <div class="testimony__content">
              <p class="text-description testimony__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.
              </p>
              <p class="name testimony__name">Robert Fox</p>
              <p class="role testimony__role">Chef</p>
            </div>
          </li>
          <li class="testimony__item">
            <div class="testimony__ava">
              <img src="../../images/customers-4.jpg" alt="Brooklyn Simmons" class="testimony__img">
            </div>
            <div class="testimony__content">
              <p class="text-description testimony__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.
              </p>
              <p class="name testimony__name">Brooklyn Simmons</p>
              <p class="role testimony__role">Caterer</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
