<section class="about section__background">
  <div class="container about__container">
    <div class="about__content">
      <h2 class="title about__title spoon-right">About Us</h2>
      <p class="text-description about__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.
      </p>
      <a href="#!" role="button" aria-label="Know More" class="btn about__btn">Know More</a>
    </div>
    <div class="about__content-right">
      <h2 class="title about__title spoon-left">Our History</h2>
      <p class="text-description about__description">
        Adipiscing tempus ullamcorper lobortis odio tellus arcu volutpat. Risus placerat morbi volutpat habitasse interdum mi aliquam In sed odio nec aliquet.
      </p>
      <a href="#!" role="button" aria-label="Know More" class="btn about__btn">Know More</a>
    </div>
  </div>
</section>
