<section class="services-quality spoon-crossing-top-right">
  <div class="container services-quality__container">
      <h5 class="subheading-center spoon services-quality__subheading">
        Serving Quality
      </h5>
      <h2 class="title services-quality__title">
        We at Gericth are serving our customers for over a decade.
      </h2>
      <p class="text-description services-quality__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.
      </p>
      <div class="services-quality__form">
        <div class="services-quality__wrapper">
          <a class="btn services-quality__btn" aria-label="services-quality button">
            Read More
          </a>
          <a class="btn services-quality__btn--last" aria-label="services-quality button">
            Contact Us
          </a>
        </div>
      </div>
  </div>
</section>
