<ul class="social__list">
  <li class="social__item">
      <a href="#!">
          <img src="../../images/sprite.svg#icon-facebook" class="svg-icon-facebook-dims" alt="icon-facebook">
      </a>
  </li>
  <li class="social__item">
      <a href="#!">
          <img src="../../images/sprite.svg#icon-twitter" class="svg-icon-twitter-dims" alt="icon-twitter">
      </a>
  </li>
  <li class="social__item">
      <a href="#!">
          <img src="../../images/sprite.svg#icon-insta" class="svg-icon-insta-dims footer__svg" alt="icon-insta">
      </a>
  </li>
</ul>
