<ul class="social__list">
  <li class="social__item">
      <a href="#!" class="social__link">
          <svg class="svg-icon-facebook-dims">
              <use xlink:href="../../images/sprite.svg#icon-facebook"></use>
          </svg>
      </a>
  </li>
  <li class="social__item">
      <a href="#!" class="social__link">
          <svg class="svg-icon-twitter-dims">
              <use xlink:href="../../images/sprite.svg#icon-twitter"></use>
          </svg>
      </a>
  </li>
  <li class="social__item">
      <a href="#!" class="social__link">
          <svg class="svg-icon-insta-dims footer__svg">
              <use xlink:href="../../images/sprite.svg#icon-insta"></use>
          </svg>
      </a>
  </li>
</ul>
