<section class="subscribe">
  <div class="container subscribe__container">
    <div class="subscribe__wrapper not-transparent">
      <h5 class="subheading-center spoon subscribe__subheading">
        Newsletter
      </h5>
      <h2 class="title subscribe__title">Subscribe to Our Newsletter</h2>
      <p class="text-description subscribe__description">
        And never miss latest Updates!
      </p>
      <form action="!action" class="subscribe__form">
        <input type="email" class="subscribe__input" autocomplete="off" required placeholder="Email Address" maxlength="30" minlength="4">
        <button class="btn subscribe__btn" type="submit" aria-label="subscribe button">Subscribe</button>
      </form>
    </div>
  </div>
</section>
