<section class="subscribe">
  <div class="container subscribe__container">
    <div class="subscribe__wrapper not-transparent">
      <h5 class="subheading-center spoon subscribe__subheading">
        Newsletter
      </h5>
      <h2 class="title subscribe__title">Subscribe to Our Newsletter</h2>
      <p class="text-description subscribe__description">
        And never miss latest Updates!
      </p>
      <form action="https://httpbin.org/post" class="subscribe__form" id="subscribe-us-form" autocomplete="off" method="post" novalidate>
        <div class="form-group">
          <label for="email" class="sr-only">Email Address</label>
          <input type="email" name="email" class="subscribe__input" autocomplete="off" required placeholder="Email Address" maxlength="35" minlength="12">
          <span class="error-message" aria-live="polite"></span>
        </div>
        <button class="btn subscribe__btn" type="submit" aria-label="subscribe button">Subscribe</button>
      </form>
    </div>
  </div>
</section>
