<section class="team">
  <div class="container team__container spoon-crossing-top-right">
    <ul class="team__list">
      <li class="team__item">
        <article class="team__card">
          <img src="../../images/team-1.jpg" alt="Kevin Luo" class="team__ava">
          <h3 class="team__name name">Kevin Luo</h3>
          <div class="team__role role">Head Chef</div>
          <div class="team__social">
            <!--= include social-list-team.html  -->
            <a href="#!" class="team__link">- Read More</a>
          </div>
        </article>
      </li>

      <li class="team__item">
        <article class="team__card">
          <img src="../../images/team-2.jpg" alt="Patrick Choi" class="team__ava">
          <h3 class="team__name name">Patrick Choi</h3>
          <div class="team__role role">Deputy Chef</div>
          <div class="team__social">
            <!--= include social-list-team.html  -->
            <a href="#!" class="team__link">- Read More</a>
          </div>
        </article>
      </li>

      <li class="team__item">
        <article class="team__card">
          <img src="../../images/team-3.jpg" alt="Jack Biscoff" class="team__ava">
          <h3 class="team__name name">Jack Biscoff</h3>
          <div class="team__role role">Station Chef</div>
          <div class="team__social">
            <!--= include social-list-team.html  -->
            <a href="#!" class="team__link">- Read More</a>
          </div>
        </article>
      </li>

      <li class="team__item">
        <article class="team__card">
          <img src="../../images/team-4.jpg" alt="Stacy Lee" class="team__ava">
          <h3 class="team__name name">Stacy Lee</h3>
          <div class="team__role role">Station Chef</div>
          <div class="team__social">
            <!--= include social-list-team.html  -->
            <a href="#!" class="team__link">- Read More</a>
          </div>
        </article>
      </li>

      <li class="team__item">
        <article class="team__card">
          <img src="../../images/team-5.jpg" alt="Aren Goodman " class="team__ava">
          <h3 class="team__name name">Aren Goodman</h3>
          <div class="team__role role">Junior Chef</div>
          <div class="team__social">
            <!--= include social-list-team.html  -->
            <a href="#!" class="team__link">- Read More</a>
          </div>
        </article>
      </li>

      <li class="team__item">
        <article class="team__card">
          <img src="../../images/team-6.jpg" alt="Javier Dowsing" class="team__ava">
          <h3 class="team__name name">Javier Dowsing</h3>
          <div class="team__role role">Junior Chef</div>
          <div class="team__social">
            <!--= include social-list-team.html  -->
            <a href="#!" class="team__link">- Read More</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
