a.btn {
    width: 157px;
    padding: 8px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-style: var(--font-accent);
    color: var(--text-color-btn);
    background-color: var(--title-color);
    line-height: 175%;
    font-weight: 700;
    letter-spacing: 0.64px;
}