#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: var(--title-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

#scrollToTopBtn:hover {
  background-color: transparent;
}
