/* All base styles */
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
}

a, a:visited, a:link {
  color: var(--text-color);
  text-decoration: none;
  text-wrap: nowrap;
}

section:focus,
footer:focus {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  cursor: pointer;
  text-wrap: nowrap;
  background: transparent;
}

img {
  width: 100%;
}

address {
  font-style: normal;
}

select {
  cursor: pointer;
}

*:focus-visible {
  outline: 3px solid rgb(230, 107, 107);
  outline-offset: 3px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 1690px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
}

.container {
  outline: 2px dotted yellow;
  padding-left: 192px;
  padding-right: 192px;
}

.container > * {
  outline: 2px dotted yellowgreen;
}

@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../../fonts/CormorantUpright-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../../fonts/CormorantUpright-Regular.woff2") format("woff2"), url("../../fonts/CormorantUpright-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../../fonts/CormorantUpright-SemiBold.woff2") format("woff2"), url("../../fonts/CormorantUpright-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../../fonts/OpenSans-Italic.woff2") format("woff2"), url("../../fonts/OpenSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../../fonts/OpenSans-Regular.woff2") format("woff2"), url("../../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --container-width: 1680px;
  --container-padding: 0;
  --font-main: "OpenSans", sans-serif;
  --font-accent: "CormorantUpright", serif;
  --page-bg: rgba(12, 12, 12, 1);
  --text-color: rgba(255, 255, 255, 1);
  --title-color: rgba(220, 202, 135, 1);
  --accent: rgba(170, 170, 170, 1);
  --text-color-btn: rgba(12, 11, 8, 1);
  --text-color-pagination: rgba(245, 239, 219, 1);
  --menu-lie: rgba(250, 250, 250, 1);
  --border-form-color: rgba(220, 202, 135, 0.20);
  --border-form-box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.70);
  --controls-background: rgba(12, 12, 12, 0.5);
  --laptop-size: 1199px;
  --table-size: 959px;
  --mobile-size: 599px;
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../../images/two-lines.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}

main {
  flex-grow: 1;
}

.svg-icon-awards-1-dims {
  width: 79px;
  height: 79px;
}

.svg-icon-awards-2-dims {
  width: 79px;
  height: 79px;
}

.svg-icon-awards-3-dims {
  width: 79px;
  height: 79px;
}

.svg-icon-awards-5-dims {
  width: 79px;
  height: 69px;
}

.svg-icon-double-quotes-dims {
  width: 47px;
  height: 40px;
}

.svg-icon-facebook-dims {
  width: 24px;
  height: 24px;
}

.svg-icon-form-dims {
  width: 24px;
  height: 24px;
}

.svg-icon-insta-dims {
  width: 52px;
  height: 52px;
}

.svg-icon-line-dims {
  width: 2px;
  height: 57px;
}

.svg-icon-logo-dims {
  width: 146px;
  height: 146px;
}

.svg-icon-play-dims {
  width: 120px;
  height: 120px;
}

.svg-icon-spoon-dims {
  width: 40px;
  height: 10px;
}

.svg-icon-twitter-dims {
  width: 24px;
  height: 24px;
}

.title {
  text-align: center;
  font-family: var(--font-accent);
  font-size: 64px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 2.56px;
  text-transform: capitalize;
  color: var(--title-color);
}

.title.text-underline {
  text-decoration: underline;
}

.title-main {
  font-family: var(--font-accent);
  font-size: 90px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 3.6px;
  text-transform: capitalize;
  color: var(--title-color);
}

.title-small {
  padding-bottom: 24px;
  font-family: var(--font-accent);
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.28px;
  text-transform: capitalize;
}

.subheading-center,
.subheading {
  font-family: var(--font-accent);
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}

.subheading-center {
  text-align: center;
  margin-bottom: 25px;
}

.text-description {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
  color: var(--accent);
}

.name {
  margin-bottom: 8px;
  font-family: var(--font-accent);
  color: var(--title-color);
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.28px;
  text-transform: capitalize;
}

.role {
  margin-bottom: 64px;
  font-family: var(--font-main);
  color: var(--accent);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}

.spoon {
  position: relative;
}
.spoon::after {
  content: url("../../images/sprite.svg#icon-spoon");
  width: 40px;
  height: 8px;
  position: absolute;
  left: 48%;
  right: 0;
  bottom: -8px;
}
.spoon-left {
  position: relative;
}
.spoon-left::after {
  content: url("../../images/sprite.svg#icon-spoon");
  width: 40px;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.spoon-right {
  position: relative;
}
.spoon-right::after {
  content: url("../../images/sprite.svg#icon-spoon");
  width: 40px;
  height: 8px;
  position: absolute;
  left: auto;
  right: 0;
  bottom: -55px;
  transform: rotate(-180deg);
}

.spoon-crossing-top-left,
.spoon-crossing-top-right,
.spoon-crossing-bottom-left,
.spoon-crossing-bottom-right {
  position: relative;
}

.spoon-crossing-top-left::after,
.spoon-crossing-top-right::after,
.spoon-crossing-bottom-left::after,
.spoon-crossing-bottom-right::after {
  content: url("../../images/spoons-crossing.svg");
  top: -30px;
  right: 31px;
  position: absolute;
  z-index: 1000;
}

.spoon-crossing-top-left::after {
  right: auto;
  left: 31px;
}

.spoon-crossing-bottom-left::after {
  top: auto;
  right: auto;
  bottom: -30px;
  left: 31px;
}

.spoon-crossing-bottom-right::after {
  top: auto;
  bottom: -30px;
}

.section__background {
  background-image: url("../../images/section-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.not-transparent {
  background-color: var(--page-bg);
}

/* Nac Icon */
.nav-icon {
  position: relative;
  width: 40px;
  height: 3px;
  background-color: rgb(220, 202, 135);
  border-radius: 4px;
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 40px;
  height: 3px;
  border-radius: 4px;
  background-color: rgb(220, 202, 135);
  transition: transform 0.1s ease-in, top 0.1s linear 0.1s;
}

.nav-icon::before {
  top: -9px;
}

.nav-icon::after {
  top: 9px;
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

/* Layout */
.mobile-nav-btn {
  z-index: 999;
}

.mobile-nav-btn {
  display: none;
}

@media (max-width: 769px) {
  .header__btn-set {
    display: none;
  }
  .header__item:last-child {
    display: block;
  }
  .mobile-nav-btn {
    height: 21px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
  }
  .header__nav {
    background-image: url("./../../images/section-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mobile-nav {
    padding-top: 40px;
    padding-bottom: 40px;
    position: fixed;
    top: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: 99;
    left: 0;
    display: block;
    text-align: left;
    background-color: #FFF1DA;
    transition: all 0.2s ease-in;
  }
  .mobile-nav--open {
    top: 0;
  }
  .mobile-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    font-size: 28px;
  }
  .mobile-nav {
    position: fixed;
    top: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    transition: all 0.2s ease-in;
  }
  .mobile-nav--open {
    top: 0;
  }
  .mobile-nav a {
    color: #fff;
  }
  .mobile-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    font-size: 28px;
  }
  .mobile-nav__list .active {
    opacity: 0.5;
  }
  .mobile-nav__list .header__btn-set {
    display: block;
  }
  .mobile-nav__list .header__btn-set > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.btn,
a.btn {
  width: 157px;
  padding: 8px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-family: var(--font-accent);
  color: var(--text-color-btn);
  background-color: var(--title-color);
  line-height: 175%;
  font-weight: 700;
  letter-spacing: 0.64px;
}

.btn:hover {
  background-color: #9c852e;
  transition: background-color 0.3s ease;
}

.header__container {
  margin-bottom: 48px;
  padding: 32px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 166px;
  font-family: var(--font-accent);
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 1.76px;
  text-transform: uppercase;
  line-height: 130%;
}
.header__list {
  margin-left: 20px;
  margin-right: 20px;
  gap: 0 32px;
  font-family: var(--font-main);
  font-size: 16px;
  letter-spacing: 0.64px;
  font-weight: 400;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__btn-login:hover, .header__btn-book:hover, .header__link:hover {
  color: var(--title-color);
  transition: color 0.3s linear;
}
.header__item:last-child {
  display: none;
}
.header__btn-login, .header__btn-book {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  color: var(--text-color);
}
.header__btn-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .vertical-line {
  margin-left: 50px;
  margin-right: 50px;
}

.footer h3 {
  margin-top: 25px;
  line-height: 1;
}
.footer__container {
  padding-top: 128px;
  padding-bottom: 128px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer__block {
  margin-bottom: auto;
  text-align: center;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}
.footer__block-logo {
  max-width: 438px;
}
.footer__item {
  margin-bottom: 8px;
}
.footer__logo {
  font-size: 64px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 2.56px;
  text-transform: uppercase;
}
.footer__text {
  margin-bottom: 42px;
}
.footer__svg {
  width: 24px;
  height: 24px;
}
.footer .social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 16px;
}
.footer .copyright {
  margin-top: 68px;
  text-align: center;
}

.hero {
  position: relative;
  margin-bottom: 77px;
}
.hero__container {
  padding-bottom: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}
.hero__content {
  padding-top: 127px;
  width: 100%;
}
.hero__subheading {
  margin-bottom: 25px;
}
.hero__title {
  margin-bottom: 32px;
}
.hero__description {
  margin-bottom: 32px;
}
.hero__links {
  padding-bottom: 25px;
  position: absolute;
  transform: rotate(-90deg);
  top: 45%;
  left: -60px;
  font-family: var(--font-main);
  font-style: normal;
}
.hero__link {
  margin-left: 40px;
}
.hero__link:hover {
  color: var(--title-color);
  transition: color 0.3s linear;
}

.swiper-pagination {
  margin-bottom: 70px;
}

.swiper-pagination-current,
.swiper-pagination-total {
  color: var(--text-color-pagination);
  font-family: var(--font-accent);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.64px;
  line-height: 175%;
}

.block__content {
  padding-right: 180px;
}

.block__picture {
  padding: 25px;
  position: relative;
  max-width: 653px;
}
.block__picture .block__gold-top,
.block__picture .block__gold-bottom {
  width: 435px;
  height: 435px;
  position: absolute;
  flex-shrink: 1;
  background-color: var(--title-color);
  top: 0;
  right: 0;
  z-index: -1;
}
.block__picture .block__gold-bottom {
  top: auto;
  right: auto;
  left: 0;
  bottom: 0;
}
.block__picture .block__img {
  width: 595px;
  height: 689px;
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 254px;
  background-image: url("../../images/section-g.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.about__title {
  text-align: right;
  margin-bottom: 49px;
}
.about__description {
  margin-bottom: 32px;
}
.about__content-right, .about__content {
  padding-top: 339px;
  padding-bottom: 328px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}
.about__content-right {
  align-items: flex-start;
}
.about__content-right .spoon-left::after {
  bottom: 20px;
}
.about__content {
  position: relative;
}
.about__content .about__description {
  text-align: right;
}
.about__content::after {
  content: url("../../images/knife.png");
  position: absolute;
  top: 120px;
  right: -170px;
}

.reservations__container {
  padding: 157px 158px 152px;
  border: 1px solid var(--border-form-color);
  box-shadow: var(--border-form-box-shadow);
}
.reservations__inner {
  padding: 48px 32px;
}
.reservations__title {
  margin-bottom: 64px;
}
.reservations__form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 64px 32px;
}
.reservations__input {
  padding: 16px;
  border: 1px solid var(--text-color-pagination);
  background: transparent;
  font-family: var(--font-accent);
  color: var(--accent);
  position: relative;
  cursor: pointer;
}
.reservations__input,
.reservations #date,
.reservations #time {
  background-image: url("../../images/sprite.svg#icon-form");
  background-repeat: no-repeat;
  background-position: right 16px top 16px;
  background-size: 24px 24px;
}
.reservations__btn {
  grid-column-start: 2;
  justify-self: center;
}

.custom-select-wrapper {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.custom-select {
  padding: 0;
  position: relative;
}

.select-trigger {
  padding: 16px;
  background: transparent;
  color: var(--accent);
  cursor: pointer;
  font-family: var(--font-accent);
}

.custom-options {
  width: 100%;
  position: absolute;
  padding: 16px;
  background-color: var(--page-bg);
  border: 1px solid var(--text-color-pagination);
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 999;
}

.custom-option {
  display: block;
  padding: 16px 16px 16px 0;
  cursor: pointer;
}

.custom-option:hover {
  background-color: var(--page-bg);
  color: #fffefd;
}

.open {
  display: block;
}

.air-datepicker {
  background-color: rgb(12, 12, 12) !important;
  border: 1px solid var(--text-color-pagination) !important;
}

.air-datepicker-cell.-selected-.-current- {
  background-color: rgb(220, 202, 135) !important;
}

.menu__container {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.menu__slider {
  position: relative;
  z-index: 100;
}
.menu__list {
  padding-top: 293px;
  position: absolute;
  padding-left: 145px;
  top: 0;
  height: 100%;
}
.menu__img {
  background: var(--0C0C0C, #0C0C0C);
}
.menu__link {
  display: block;
  text-align: left;
}

.menu-special__container {
  padding-top: 152px;
  padding-bottom: 152px;
}
.menu-special__content {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px 32px;
}
.menu-special__block {
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu-special__title-drink {
  margin-bottom: 48px;
  text-align: center;
  font-family: var(--font-accent);
  font-size: 45px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 1.8px;
  text-transform: capitalize;
}
.menu-special__item {
  margin-bottom: 40px;
}
.menu-special__inner-top {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 32px;
}
.menu-special__name {
  flex-shrink: 3;
  width: 100%;
  color: var(--title-color);
}
.menu-special__inner-top {
  font-family: var(--font-accent);
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
.menu-special__line {
  flex-shrink: 1;
  width: 100%;
  width: 119px;
  height: 1px;
  background-color: var(--menu-lie);
}
.menu-special__ingredients, .menu-special__bottle {
  font-family: var(--font-main);
  color: var(--accent);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}
.menu-special__btn {
  grid-column-start: 2;
  justify-self: center;
}

.chef {
  position: relative;
  margin-bottom: 77px;
}
.chef__container {
  padding-bottom: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}
.chef__content {
  padding-top: 127px;
  width: 100%;
  padding-right: 0;
  padding-left: 80px;
}
.chef__subheading {
  margin-bottom: 25px;
}
.chef__title {
  margin-bottom: 64px;
  text-align: left;
}
.chef__description {
  position: relative;
  margin-bottom: 64px;
}
.chef__description::before {
  content: url("../../images/sprite.svg#icon-double-quotes");
  position: relative;
  display: inline-block;
  width: 47px;
  height: 40px;
  top: 0;
  left: 0;
}
.chef__sign {
  max-width: 235px;
  max-height: 83px;
}
.chef__sign img {
  width: 100%;
  height: 100%;
}
.chef__img {
  width: 100%;
}

.chef__picture {
  padding: 25px;
  position: relative;
  max-width: 653px;
}
.chef__picture .block__gold-top,
.chef__picture .block__gold-bottom {
  width: 435px;
  height: 435px;
  position: absolute;
  flex-shrink: 1;
  background-color: var(--title-color);
  top: 0;
  right: 0;
  z-index: -1;
}
.chef__picture .block__gold-bottom {
  top: auto;
  right: auto;
  left: 0;
  bottom: 0;
}

.testimony__ava {
  align-self: flex-start;
  position: relative;
}
.testimony__ava::after {
  content: url("../../images/sprite.svg#icon-double-quotes");
  position: absolute;
  display: inline-block;
  width: 47px;
  height: 40px;
  right: 0;
  bottom: -20px;
}
.testimony__list {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 64px 32px;
}
.testimony__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimony__img {
  width: 189px;
  margin-right: 14px;
  align-self: top;
}
.testimony__content {
  padding: 18px;
}
.testimony__description {
  margin-bottom: 16px;
}
.testimony__name {
  margin-bottom: 4px;
}

.preview__container {
  padding: 0;
}

.video-player {
  position: relative;
  width: 100%;
  margin: auto;
}
.video-player:hover .controls {
  opacity: 1;
}
.video-player:hover .play-pause-center {
  opacity: 1;
}

video {
  width: 100%;
}

.controls {
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--controls-background);
  color: var(--accent);
  opacity: 0;
  transition: opacity 0.3s linear;
}

.control-button {
  background: none;
  border: none;
  color: var(--accent);
  cursor: pointer;
  font-size: 16px;
}

input[type=range] {
  accent-color: var(--title-color);
}

#playPause {
  position: absolute;
  top: 50%;
  left: 50%;
}

#progressBar {
  flex-grow: 1;
  margin: 0 10px;
}

#volumeControl {
  width: 80px;
}

.play-pause-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border: 3px solid var(--title-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--controls-background);
  transition: transform 0.3s ease;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.play-pause-center.play::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 29px solid var(--text-color);
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
}

.play-pause-center.pause::before {
  content: "";
  display: inline-block;
  width: 29px;
  height: 29px;
  background-color: var(--text-color);
}

.play-pause-center.pause {
  opacity: 0;
}

.play-pause-center:hover {
  transform: translate(-50%, -50%) scale(1.1);
  transition: transform 0.3s linear;
}

.awards__container {
  padding-top: 128px;
  padding-bottom: 128px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.awards__content {
  padding-top: 118px;
  padding-right: 16px;
}
.awards__title {
  margin-top: 26px;
  margin-bottom: 74px;
  text-align: left;
}
.awards__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px 64px;
}
.awards__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 32px;
}
.awards__subheading-gold {
  padding-bottom: 8px;
  color: var(--title-color);
}
.awards__picture {
  margin-left: 95px;
  position: relative;
}
.awards__picture::after {
  content: url("../../images/section-g-white.svg");
  left: 0;
  bottom: 0;
  position: absolute;
}
.awards__img {
  max-height: 691px;
}

.blog__container {
  padding-top: 149px;
  padding-bottom: 149px;
}
.blog__title {
  margin-bottom: 64px;
}
.blog__wrapper {
  margin-bottom: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 64px 32px;
}
.blog__picture {
  margin-bottom: 24px;
  width: 100%;
}
.blog__img {
  max-height: 430px;
}
.blog__inner {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}
.blog__article-title {
  margin-bottom: 32px;
}
.blog__text {
  margin-bottom: 32px;
}
.blog a.blog__link {
  color: var(--title-color);
  font-family: var(--font-accent);
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.64px;
}
.blog a.blog__link:hover {
  color: #ede4c2;
  transition: color 0.3s linear;
}

.more-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.instagram__container {
  padding-top: 129px;
  padding-right: 0;
  padding-bottom: 242px;
  display: flex;
}
.instagram__content {
  padding-top: 82px;
  padding-right: 32px;
}
.instagram__title {
  margin-top: 20px;
  margin-bottom: 32px;
}
.instagram__description {
  margin-bottom: 32px;
}
.instagram .swiper.instagram-swiper {
  height: 100%;
}
.instagram__slider {
  min-height: 447px;
  padding-left: 32px;
  display: inline-block;
  max-width: 1080px;
}
.instagram__slide {
  height: 100%;
  width: 301px;
}
.instagram__img {
  height: 100%;
  transition: opacity 0.2s linear;
}
.instagram__img:hover {
  outline: 2px solid rgba(220, 202, 135, 0.2);
  opacity: 0.5;
  transition: opacity 0.2s linear;
}
.instagram__link {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.instagram__link::after {
  content: url("../../images/sprite.svg#icon-insta");
  display: inline-block;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 52px;
  height: 52px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s linear;
  pointer-events: none;
}
.instagram__link:hover::after {
  opacity: 1;
  transition: opacity 0.2s linear;
}

.subscribe__container {
  padding-top: 109px;
  padding-bottom: 128px;
  display: flex;
  justify-content: space-around;
}
.subscribe__wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  border: 1px solid rgba(220, 202, 135, 0.2);
}
.subscribe__title {
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
}
.subscribe__description {
  text-align: center;
  margin-bottom: 64px;
}
.subscribe__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.subscribe__input {
  padding: 16px 19px;
  flex-grow: 3;
  background: transparent;
  border: 1px solid rgba(220, 202, 135, 0.2);
  color: var(--accent);
}/*# sourceMappingURL=main.css.map */