/* All base styles */
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a, a:visited, a:link {
  color: var(--text-color);
  text-decoration: none;
  text-wrap: nowrap;
}

section:focus,
footer:focus {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  cursor: pointer;
  text-wrap: nowrap;
  background: transparent;
}

img {
  width: 100%;
}

address {
  font-style: normal;
}

select {
  cursor: pointer;
}

*:focus-visible {
  outline: 3px solid rgb(230, 107, 107);
  outline-offset: 3px;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1690px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  outline: 2px solid white;
}

.container {
  outline: 2px dotted yellowgreen;
  padding-left: 192px;
  padding-right: 192px;
}

:root {
  --container-width: 1680px;
  --container-padding: 0;
  --font-main: "Open Sans", sans-serif;
  --font-accent: "Cormorant Upright", serif;
  --font-sign: "Bestermind", serif;
  --page-bg: rgba(12, 12, 12, 1);
  --text-color: rgba(255, 255, 255, 1);
  --title-color: rgba(220, 202, 135, 1);
  --accent: rgba(170, 170, 170, 1);
  --laptop-size: 1199px;
  --table-size: 959px;
  --mobile-size: 599px;
}

/* .dark {
    --page-bg: black;
    --text-color: white;
} */
.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

html, body {
  min-width: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.svg-icon-awards-1-dims {
  width: 79px;
  height: 79px;
}

.svg-icon-awards-2-dims {
  width: 79px;
  height: 79px;
}

.svg-icon-awards-3-dims {
  width: 79px;
  height: 79px;
}

.svg-icon-awards-5-dims {
  width: 79px;
  height: 69px;
}

.svg-icon-double-quotes-dims {
  width: 47px;
  height: 40px;
}

.svg-icon-facebook-dims {
  width: 24px;
  height: 24px;
}

.svg-icon-insta-dims {
  width: 52px;
  height: 52px;
}

.svg-icon-logo-dims {
  width: 146px;
  height: 146px;
}

.svg-icon-play-dims {
  width: 120px;
  height: 120px;
}

.svg-icon-spoon-dims {
  width: 40px;
  height: 10px;
}

.svg-icon-twitter-dims {
  width: 24px;
  height: 24px;
}

.title {
  text-align: center;
  font-family: var(--font-accent);
  font-size: 64px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 2.56px;
  text-transform: capitalize;
  color: var(--title-color);
}

.title-main {
  font-family: var(--font-accent);
  font-size: 90px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 3.6px;
  text-transform: capitalize;
  color: var(--title-color);
}

.title-small {
  padding-bottom: 24px;
  font-family: var(--font-accent);
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.28px;
  text-transform: capitalize;
}

.text-description {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
  color: var(--accent);
}

.spoon {
  position: relative;
}
.spoon::after {
  content: url("../../images/sprite.svg#icon-spoon");
  width: 40px;
  height: 8px;
  left: 45%;
  right: 0;
  bottom: -8px;
  position: absolute;
}

@font-face {
  font-family: "BestermindRegular";
  font-display: swap;
  src: url("../../fonts/BestermindRegular.woff2") format("woff2"), url("../../fonts/BestermindRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../../fonts/CormorantUpright-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../../fonts/CormorantUpright-Regular.woff2") format("woff2"), url("../../fonts/CormorantUpright-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../../fonts/CormorantUpright-SemiBold.woff2") format("woff2"), url("../../fonts/CormorantUpright-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../../fonts/OpenSans-Italic.woff2") format("woff2"), url("../../fonts/OpenSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../../fonts/OpenSans-Regular.woff2") format("woff2"), url("../../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.footer {
  background-image: url("../../images/section-background.jpg");
  opacity: 0.5;
}
.footer__container {
  padding-top: 128px;
  padding-bottom: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__block {
  text-align: center;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}
.footer__block-logo {
  max-width: 438px;
}
.footer__item {
  margin-bottom: 8px;
}
.footer__logo {
  font-size: 64px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 2.56px;
  text-transform: uppercase;
}
.footer__text {
  margin-bottom: 42px;
}
.footer__svg {
  width: 24px;
  height: 24px;
}
.footer .social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 16px;
}
.footer .copyright {
  margin-top: 68px;
  margin-left: auto;
  margin-right: auto;
}

.header__container {
  padding: 32px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 166px;
  font-family: var(--font-accent);
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 1.76px;
  text-transform: uppercase;
  line-height: 130%;
}
.header__list {
  margin-left: 20px;
  margin-right: 20px;
  gap: 0 32px;
  font-family: var(--font-main);
  font-size: 16px;
  letter-spacing: 0.64px;
  font-weight: 400;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__btn-login, .header__btn-book {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  color: var(--text-color);
}
.header .vertical-line {
  height: 57px;
  width: 3px;
  margin-left: 50px;
  margin-right: 50px;
  background-image: url("../../images/sprite.svg#icon-line");
  background-repeat: no-repeat;
  background-position: center;
}

.mobile-nav {
  position: fixed;
  top: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(130, 156, 168);
  transition: all 0.2s ease-in;
}

.mobile-nav--open {
  top: 0;
}

.mobile-nav a {
  color: #fff;
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  font-size: 28px;
}
.mobile-nav__list .active {
  opacity: 0.5;
}

/* Nac Icon */
.mobile-nav-btn {
  height: 24px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 4px;
}

.nav-icon::before,
.nav-icon::after {
  counter-reset: "";
  display: block;
  position: absolute;
  left: 0;
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background-color: black;
  transition: transform 0.1s ease-in, top 0.1s linear 0.1s;
}

.nav-icon::before {
  top: -10px;
}

.nav-icon::after {
  top: 10px;
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

/* Layout */
.mobile-nav-btn {
  z-index: 999;
}/*# sourceMappingURL=main.css.map */