@mixin spoon-property {
  content: url('../../images/sprite.svg#icon-spoon');
  width: 40px;
  height: 8px;
  position: absolute;
}

.spoon {
  position: relative;
  &::after {
    @include spoon-property();
    left: 48%;
    right: 0;
    bottom: -8px;
  }

  &-left {
    position: relative;
    &::after {
      @include spoon-property();
      left: 0;
      bottom: -8px;
    }
  }

  &-right {
    position: relative;
    &::after {
      @include spoon-property();
      left: auto;
      right: 0;
      bottom: -55px;
      transform: rotate(-180deg);
    }
  }
}

// TODO: Сделать стили, как с ложкой.
.spoon-crossing-top-left,
.spoon-crossing-top-right,
.spoon-crossing-bottom-left,
.spoon-crossing-bottom-right {
  position: relative;
}

.spoon-crossing-top-left::after,
.spoon-crossing-top-right::after,
.spoon-crossing-bottom-left::after,
.spoon-crossing-bottom-right::after {
  content: url("../../images/spoons-crossing.svg");
  top: -30px;
  right: 31px;
  position: absolute;
  z-index: 1000;
}

.spoon-crossing-top-left::after {
  right: auto;
  left: 31px;
}

.spoon-crossing-bottom-left::after {
  top: auto;
  right: auto;
  bottom: -30px;
  left: 31px;
}

.spoon-crossing-bottom-right::after {
  top: auto;
  bottom: -30px;
}

.section__background-bar,
.section__background {
  background-image: url("../../images/section-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section__background-bar {
  background-image: url("../../images/section-background-bar.jpg");
}

.not-transparent {
  background-color: var(--page-bg);
}

.section-delimiter {
  position: relative;
  &::after{
    content: url('../../images/icon-delimiter.png');
    position: absolute;
    top: 35px;
    right: -64px;
  }
}
