.svg-icon-awards-1-dims { width: 79px; height: 79px; }
.svg-icon-awards-2-dims { width: 79px; height: 79px; }
.svg-icon-awards-3-dims { width: 79px; height: 79px; }
.svg-icon-awards-5-dims { width: 79px; height: 69px; }
.svg-icon-double-quotes-dims { width: 47px; height: 40px; }
.svg-icon-facebook-dims { width: 24px; height: 24px; }
.svg-icon-form-dims { width: 24px; height: 24px; }
.svg-icon-insta-dims { width: 52px; height: 52px; }
.svg-icon-line-dims { width: 2px; height: 57px; }
.svg-icon-logo-dims { width: 146px; height: 146px; }
.svg-icon-play-dims { width: 120px; height: 120px; }
.svg-icon-spoon-dims { width: 40px; height: 10px; }
.svg-icon-twitter-dims { width: 24px; height: 24px; }
