html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../../images/two-lines.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
}

main {
    flex-grow: 1;
}
