.title {
    text-align: center;
    font-family: var(--font-accent);
    font-size: 64px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 2.56px;
    text-transform: capitalize;
    color: var(--title-color);

}

.title.text-underline {
  text-decoration: underline;
}

.title-main {
    font-family: var(--font-accent);
    font-size: 90px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 3.6px;
    text-transform: capitalize;
    color: var(--title-color);
}

.title-small {
    padding-bottom: 24px;
    font-family: var(--font-accent);
    font-size: 32px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.28px;
    text-transform: capitalize;
}

.subheading-center,
.subheading {
    font-family: var(--font-accent);
    font-size: 23px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}

.subheading-center {
  text-align: center;
  margin-bottom: 25px;
}

.text-description {
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.64px;
    color: var(--accent);
}

.name {
  margin-bottom: 8px;
  font-family: var(--font-accent);
  color: var(--title-color);
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.28px;
  text-transform: capitalize;
}

.role {
  margin-bottom: 64px;
  font-family: var(--font-main);
  color: var(--accent);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}
