// Hidden block for dev
.none {
    display: none !important;
}

.no-scroll {
    overflow-y: hidden;
}

// Стили для автозаполненных полей
input:-webkit-autofill,
textarea:-webkit-autofill {
  // прозрачный фон
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  // указываем цвет текста
  -webkit-text-fill-color: var(--text-color-pagination);
  // замедляем анимацию изменения цвета - не работает для transparent
  transition: background-color 5000s ease-in-out 0s;
}

// Стили для скрытия
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Обязательное поле с ошибкой */
input:invalid {
  outline: 2px solid red;
}

// Валидное поле
input:valid {
  outline: 2px solid green;
}

// Поля в фокусе
input:focus {
  outline: 2px solid blue;
}

// Стили для обязательных полей
input:required {
  outline: 1px solid orange;
}

// Стили для необязательных полей
input:optional {
  outline: 1px solid gray;
}
